<section class="about" id="about">
    <div class="wrap">
        <h2>O KONKURSIE</h2>

        <div class="row r1">
            <p class="p1">PRZYGOTUJ SIĘ NA NAJLEPSZĄ IMPREZĘ ŚWIATA!</p>
            <p class="p2">Zachęć znajomych na Facebooku do wsparcia swojego zgłoszenia, <br />bo przed Tobą szansa wyjazdu na karnawał w RIO!<p>
            <p class="p9"><a href="/files/uploads/regulamin-konkursu-rio.pdf" target="blank"><strong>ZOBACZ Regulamin Konkursu &gt;&gt;&gt;</strong></a></p>
        </div>

        <div class="row r2">
            <div class="box">
                <p>1. <strong class="color">KUP</strong> wybrany produkt marki REMINGTON spośród lokówek, lokówko-suszarek, prostownic, falownic, suszarek, wałków, depilatorów oraz urządzeń IPL, golarek i trymerów damskich.</p>
            </div>

            <div class="box">
                <p>2. <strong class="color">PRZYGOTUJ</strong> szaloną, karnawałową stylizację uwzględniającą strój, fryzurę albo makijaż, zrób zdjęcie i zgłoś je w naszym konkursie.</p>
            </div>

            <div class="box">
                <p>3. <strong class="color">ZAREJESTRUJ</strong> swoją stylizację i paragon w naszym formularzu konkursowym.</p>
                <p class="small">(Zachowaj oryginał dowodu zakupu i oryginalny kod kreskowy EAN wycięty z opakowania produktu promocyjnego w celu weryfikacji zgłoszenia.</p>
                <p>Pamiętaj, że jest to warunek konieczny odbioru nagrody.)</p>
            </div>

            <div class="box">
                <p>4. <strong class="color">OCZARUJ NASZE JURY</strong> i wygraj dwa bilety na karnawał w Rio de Janeiro. Przygotuj się na najlepszą imprezę świata!</p>
                <p>I koniecznie zachęć znajomych na Facebooku do wsparcia Twojego zgłoszenia, bo przed Tobą szansa na dodatkową nagrodę - ciśnieniowy ekspres marki Russell Hobbs.</p>
            </div>

            <div class="clear"></div>
        </div>

        <div class="row r3">
            <p class="p3">Przyjmowanie zgłoszeń w konkursie trwa w dniach <strong class="color">3.11-31.12.2014 r.</strong></p>

            <p class="p7">Głosowanie publiczności trwa w dniach <strong class="color">3.11.2014 - 4.01.2015 r.</strong></p>

            <p class="p4">Wyniki zostaną opublikowane na tej stronie <strong class="color">9 stycznia 2015 r.</strong> po wcześniejszej weryfikacji paragonów <br />i kodów kreskowych EAN.</p>

            <p class="p5"><strong class="color">Lista internetowych sklepów objętych promocją:</strong></p>

            <p class="p6">
                <a href="http://www.saturn.pl" title="www.saturn.pl" target="blank">www.saturn.pl</a>,
                <a href="http://www.mediamarkt.pl" title="www.mediamarkt.pl" target="blank">www.mediamarkt.pl</a>,
                <a href="http://www.euro.com.pl" title="www.euro.com.pl" target="blank">www.euro.com.pl</a>,
                <a href="http://www.agito.pl" title="www.agito.pl" target="blank">www.agito.pl</a>,
                <a href="http://www.morele.net" title="www.morele.net" target="blank">www.morele.net</a>,
                <a href="http://www.agdwarszawa.pl" title="www.agdwarszawa.pl" target="blank">www.agdwarszawa.pl</a>,<br />
                <a href="http://www.neonet.pl" title="www.neonet.pl" target="blank">www.neonet.pl</a>,
                <a href="http://www.mediadomek.pl" title="www.mediadomek.pl" target="blank">www.mediadomek.pl</a>,
                <a href="http://www.mediaexpert.pl" title="www.mediaexpert.pl" target="blank">www.mediaexpert.pl</a>,
                <a href="http://www.selgros24.pl" title="www.selgros24.pl" target="blank">www.selgros24.pl</a>,
                <a href="http://www.merlin.pl" title="www.merlin.pl" target="blank">www.merlin.pl</a>,
                <a href="http://www.bankujesz-zyskujesz.pl" title="www.bankujesz-zyskujesz.pl" target="blank">www.bankujesz-zyskujesz.pl</a>, <br />
                <a href="http://www2.payback.pl" title="www2.payback.pl" target="blank">www2.payback.pl</a>,
                <a href="http://www.empik.com" title="www.empik.com" target="blank">www.empik.com</a>,
                <a href="http://www.smyk.com" title="www.smyk.com" target="blank">www.smyk.com</a>
            </p>
        </div>

        <div class="clear"></div>

        <div class="row">
            <a href="#contact" class="tobottom"></a>
        </div>

        <div class="clear"></div>
    </div>
</section>