<section class="awards" id="awards">
    <div class="step">
        <img src="{{ asset('/images/1440.png') }}" alt="kroki" />
    </div>
    <div class="wrap">
        <h2>NAGRODY</h2>

        <div class="box">
            <img src="{{ asset('/images/1438.png') }}" alt="latarka">
            <p class="title">Nagroda główna</p>
            <h3>KARNAWAŁ w Rio de Janeiro</h3>
            <p class="strong">Autor najlepszej karnawałowej stylizacji, wyłonionej przez głosowanie Jury, wyjedzie z osobą towarzyszącą na karnawał do Rio de Janeiro (10 - 18 lutego 2015 r.). </p>
            <p class="s12">W planie m.in. zwiedzanie miasta, przygotowania na najlepszą imprezę świata i wstęp na hipodrom, brazylijska kuchnia oraz wyjątkowa relacja z wypadu w dwutygodniku Viva!</p>
            <p class="s12">Opiekę nad wypadem karnawałowym obejmie przedstawiciel Organizatora.</p>
        </div>
        <div class="box">
            <img src="{{ asset('/images/1443.png') }}" alt="survival">
            <p class="title">NAGRODY DODATKOWE</p>
            <h3>EKSPRESY CIŚNIENIOWE RUSSELL HOBBS</h3>
            <p>20 autorów najpopularniejszych zgłoszeń, wyłonionych w głosowaniu internautów, otrzyma nagrody dodatkowe: <br /><strong>ciśnieniowe ekspresy Buckingham <br />marki Russell Hobbs wraz <br />z zapasem brazylijskiej kawy na <br />cały karnawał.</strong></p>
        </div>
        <div class="clear"></div>
    </div>
</section>