<section class="lax-one" id="parallax1">
    <div class="wrap">
        <a href="/" class="bt1"></a>
        <section id="trigger2" style="position: absolute; top: 50%;"></section>
    </div>
</section>