<section class="lax-two" id="parallax2">
    <div class="wrap">
        <a href="/" class="bt2"></a>
        <section id="trigger7" style="position: absolute; top: 50%;"></section>
    </div>
</section>