<section class="products" id="products">
    <div class="wrap">
        <h2>NASZE PRODUKTY</h2>

        <div id="buyNow">
            <h2>WYBIERZ SKLEP</h2>

            <div class="row">
                <a href="#" class="p00" target="blank"></a>
                <a href="#" class="p01" target="blank"></a>
                <a href="#" class="p02" target="blank"></a>
                <a href="#" class="p03" target="blank"></a>
                <a href="#" class="p04" target="blank"></a>
                <a href="#" class="p05" target="blank"></a>
                <a href="#" class="p06" target="blank"></a>
                <a href="#" class="p07" target="blank"></a>
                <a href="#" class="p08" target="blank"></a>
                <a href="#" class="p09" target="blank"></a>
                <a href="#" class="p10" target="blank"></a>
                <a href="#" class="p11" target="blank"></a>
                <a href="#" class="p12" target="blank"></a>
                <a href="#" class="p13" target="blank"></a>
                <a href="#" class="p14" target="blank"></a>
                <a href="#" class="p15" target="blank"></a>
            </div>
        </div>

        <div class="row list">
            <div class="box" id="b1">
                <img src="{{ asset('/images/2200.png') }}" alt="title" class="thumb"/>
                <div class="product">
                    <div id="trigger4"></div>
                    <div class="text">
                        <p style="margin: 0 0 20px 0;"><strong>SUSZARKA SILK:</strong></p>
                        <ul>
                            <li><p>Profesjonalna suszarka o mocy 2400 W</p></li>
                            <li><p>Przepływ powietrza z prędkością 140 km/h</p></li>
                            <li><p>Funkcja jonizacji</p></li>
                            <li><p>Ceramiczna kratka wylotu powietrza</p></li>
                            <li><p>2 ustawienia prędkości nawiewu / 3 ustawienia temperatury</p></li>
                            <li><p>Funkcja Turbo Boost</p></li>
                            <li><p>Koncentrator i dyfuzor</p></li>
                        </ul>
                    </div>
                    <a href="#buyNow"
                       class="buy"
                       data-shop-p00="none"
                       data-shop-p01="http://www.agito.pl/suszarka-do-wlosow-remington-ac-9096-silk-dryer-1116-918480.html"
                       data-shop-p02="http://bankujesz-zyskujesz.pl/moda-i-uroda/suszarka-silk-ac9096"
                       data-shop-p03="none"
                       data-shop-p04="http://www.mediaexpert.pl/suszarki-do-wlosow/suszarka-remington-ac9096,id-230119"
                       data-shop-p05="http://www.mediamarkt.pl/suszarka-remington-ac9096,id-898166"
                       data-shop-p06="http://merlin.pl/Remington-Silk-AC9096-suszarka_REMINGTON/browse/product/208,1421951.html"
                       data-shop-p07="http://www.morele.net/suszarka-do-wlosow-remington-ac9096-618466/"
                       data-shop-p08="none"
                       data-shop-p09="https://sklep.payback.pl/nagrody/suszarka-do-wlosow-silk"
                       data-shop-p10="http://www.euro.com.pl/suszarki-do-wlosow/remington-silk-ac9096.bhtml#afterSearch-ac9096|suszarki-do-wlosow||Suszarki+do+w%C5%82os%C3%B3w|product"
                       data-shop-p11="http://www.saturn.pl/suszarka-remington-ac9096,id-898166"
                       data-shop-p12="none"
                       data-shop-p13="none"
                       data-shop-p14="none"
                       data-shop-p15="http://www.oleole.pl/suszarki-do-wlosow/remington-silk-ac9096.bhtml#afterSearch-ac9096|suszarki-do-wlosow||Suszarki+do+w%C5%82os%C3%B3w|product"></a>
                </div>
            </div>

            <div class="box" id="b2">
                <img src="{{ asset('/images/2201.png') }}" alt="title" class="thumb"/>
                <div class="product">
                    <div id="trigger5"></div>
                    <div class="text">
                        <p style="margin: 0 0 20px 0;"><strong>PROSTOWNICA PRO-SLEEK & CURL:</strong></p>
                        <ul>
                            <li><p>Powłoka Advanced Ceramic Ultra</p></li>
                            <li><p>Gotowa do użycia w 15 sekund</p></li>
                            <li><p>Wydłużone, wąskie, ruchome płytki – 110 mm</p></li>
                            <li><p>Funkcja Turbo Boost</p></li>
                            <li><p>Etui odporne na wysokie temperatury</p></li>
                            <li><p>Wyłącznik bezpieczeństwa</p></li>
                            <li><p>Cyfrowy wyświetlacz</p></li>
                        </ul>
                    </div>
                    <a href="#buyNow"
                       class="buy"
                       data-shop-p00="http://agdwarszawa.pl/p/1573/913/prostownica-remington-pro-sleek-amp-curl-symbol-s6505--prostownice.html"
                       data-shop-p01="none"
                       data-shop-p02="none"
                       data-shop-p03="none"
                       data-shop-p04="none"
                       data-shop-p05="http://www.mediamarkt.pl/prostownica-remington-s6505,id-979469"
                       data-shop-p06="none"
                       data-shop-p07="http://www.morele.net/prostownica-remington-s6505-czarna-690521/"
                       data-shop-p08="none"
                       data-shop-p09="none"
                       data-shop-p10="http://www.euro.com.pl/prostownice-i-karbownice/remington-pro-sleek-curl-s6505.bhtml#afterSearch-s6505||||product"
                       data-shop-p11="http://www.saturn.pl/prostownica-remington-s6505,id-979469"
                       data-shop-p12="none"
                       data-shop-p13="http://www.empik.com/prostownica-do-wlosow-remington-sleek-curl-s6505-czarna-remington,p1102860350,elektronika-p"
                       data-shop-p14="http://www.smyk.com/prostownica-do-wlosow-remington-sleek-curl-s6505-czarna,p1102860350,swiat-niemowlaka-p"
                       data-shop-p15="none"></a>
                </div>
            </div>

            <div class="box" id="b3">
                <img src="{{ asset('/images/2202.png') }}" alt="title" class="thumb"/>
                <div class="product">
                    <div id="trigger6"></div>
                    <div class="text">
                        <p style="margin: 0 0 20px 0;"><strong>LOKÓWKO-SUSZARKA YOUR STYLE</strong></p>
                        <ul>
                            <li><p>Wielofunkcyjna lokówko-suszarka ze zmiennymi końcówkami </p></li>
                            <li><p>Temperatura max 220 °C*</p></li>
                            <li><p>3 różne końcówki w zestawie</p></li>
                            <li><p>Powłoka antystatyczna, ceramiczna, turmalinowa, gładka</p></li>
                            <li><p>Nagrzewanie w 30 sekund</p></li>
                            <li><p>Rękawica ochronna</p></li>
                        </ul>
                    </div>
                    <a href="#buyNow"
                       class="buy"
                       data-shop-p00="http://www.agdwarszawa.pl/p/1571/905/lokowko-suszarka-your-style-remington-symbol-ci97m1--lokowki.html"
                       data-shop-p01="http://www.agito.pl/suszarko-lokowka-remington-ci-97m1-e51-your-style-1114-1029976.html"
                       data-shop-p02="http://bankujesz-zyskujesz.pl/moda-i-uroda/lokowka-your-style-ci97m1"
                       data-shop-p03="http://www.mediadomek.pl/product-pol-13246-Remington-CI97M1-Lokowko-suszarka-Your-Style.html?text=CI97M1"
                       data-shop-p04="none"
                       data-shop-p05="http://www.mediamarkt.pl/suszarko-lokowka-remington-ci97m1,id-979473"
                       data-shop-p06="http://merlin.pl/REMINGTON-Your-Style-CI97M1-Lokowka_REMINGTON/browse/product/208,1519314.html"
                       data-shop-p07="http://www.morele.net/suszarko-lokowka-remington-ci97m1-666537/"
                       data-shop-p08="none"
                       data-shop-p09="none"
                       data-shop-p10="http://www.euro.com.pl/lokowki/remington-ci97m1.bhtml#afterSearch-ci97m1|suszarki-do-wlosow||Suszarki+do+w%C5%82os%C3%B3w|product-all"
                       data-shop-p11="http://www.saturn.pl/suszarko-lokowka-remington-ci97m1,id-979473"
                       data-shop-p12="http://selgros24.pl/Sprz%C4%99t-AGD/Drobne-AGD/Pozosta%C5%82e-drobne-AGD/Lok%C3%B3wki-do-w%C5%82os%C3%B3w/REMINGTON/ZESTAW-DO-STYLIZACJI-W%C5%81OS%C3%93W-REMINGTON-CI97M1/2_65558.do"
                       data-shop-p13="http://www.empik.com/suszarko-lokowka-remington-your-style-ci97m1-fioletowa-remington,p1102860509,elektronika-p"
                       data-shop-p14="http://www.smyk.com/suszarko-lokowka-remington-your-style-ci97m1-fioletowa,p1102860509,swiat-niemowlaka-p"
                       data-shop-p15="http://www.oleole.pl/lokowki/remington-ci97m1.bhtml#afterSearch-ci97m1|suszarki-do-wlosow||Suszarki+do+w%C5%82os%C3%B3w|product-all"></a>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="row all">
            <a href="/produkty"></a>
        </div>

        <div class="clear"></div>

        <div class="row">
            <a href="#products" class="tobottom"></a>
        </div>

        <div class="clear"></div>
    </div>
</section>