<section class="rating" id="rating">
    <div class="wrap">
        <h2>RANKING</h2>

        <div class="row">
            <p>Zwiększ swoje szanse na wygraną jednego z ciśnieniowych ekspresów Russell Hobbs z zapasem <br />brazylijskiej kawy na cały karnawał! Zmobilizuj znajomych na Facebooku do głosowania na Twoją<br />stylizację i czekaj na nagrody.</p>
            <p>Masz czas do <strong class="color">4 stycznia 2015 r.</strong></p>
            <p>Wyniki pokażemy na tej stronie <strong class="color">9 stycznia 2015 r.</strong></p>
        </div>

        <div class="row">
            <a href="#rating" class="tobottom"></a>
        </div>
    </div>
</section>