<section class="slider" id="slider">
    <div class="cycle-slideshow"
         data-cycle-fx="scrollHorz"
         data-cycle-auto-height=false
         data-cycle-slides="> .slide"
         data-cycle-timeout=6000
         data-cycle-pager=".pager .wrap .cycle-pager"
    >
        <div class="pager">
            <div class="wrap">
                <div class="cycle-pager"></div>
            </div>
        </div>
        <div class="cycle-overlay"></div>

        <div class="slide" id="slide1">
            <div class="wrap">
                <div class="text">
                    <span class="h1">PRZYGOTUJ SIĘ</span>
                    <span class="desc">na najlepszą imprezę świata!<br/><br/><span class="color">Wygraj</span> karnawał w Rio de Janeiro <br/>z produktami marki REMINGTON.<br/><br/><br/></span>
                </div>
            </div>
        </div>

        <div class="slide" id="slide2">
            <div class="wrap">
                <div class="text">
                    <span class="h1">KUP</span>
                    <p class="desc"><br/>wybrany produkt<br/>REMINGTON,<br/><span class="color"><strong>prześlij nam swoją</strong></span><br/><span
                                class="color"><strong>karnawałową stylizację</strong></span><br/>i zdobądź serca
                        Jury.<br/><br/><strong>Karnawał w Rio de Janeiro czeka!</strong><br/><br/></p>
                </div>
            </div>
        </div>

        <div class="slide" id="slide3">
            <div class="wrap">
                <div class="text">
                    <span class="h1">NAMAWIAJ</span>
                    <p class="desc"><br/><span class="sh1"><strong>do głosowania także <br/>swoich znajomych. </strong></span><br/><br/>20
                        autorów stylizacji wyłonionych <br/>w głosowaniu internautów <br/>zdobędzie <span class="color"><strong>ciśnieniowe ekspresy <br/>do kawy</strong></span>
                        Buckingham marki <br/>Russell Hobbs.<br/><br/></p>
                    <img src="{{ asset('/images/1325.png') }}" alt="express" class="express"/>
                </div>
            </div>
        </div>
    </div>
</section>