<section class="take" id="take">
    <div class="wrap">
        <h2>WEŹ UDZIAŁ</h2>

        <div class="row">
            <div class="box">
                <p>1. <span>KUP</span>  wybrany produkt marki REMINGTON spośród lokówek, lokówko-suszarek, prostownic, falownic, suszarek, wałków, depilatorów oraz urządzeń IPL, golarek i trymerów damskich.</p>
            </div>
            <div class="box">
                <p>2. <span>PRZYGOTUJ</span> własną karnawałową stylizację (fryzura, strój lub make-up) i prześlij ją w formularzu konkursowym.</p>
            </div>
            <div class="box">
                <p>3. <span>PODBIJ SERCA JURY</span> i wygraj Rio. A znajomych namów do głosowania na swoje zgłoszenia i zdobądź jeden z ekspresów ciśnieniowych Russell Hobbs.</p>
            </div>
            <div class="box">
                <p>4. <span>ZACHOWAJ</span> oryginał dowodu zakupu oraz kod kresowy wycięty z zakupionego produktu, celem realizacji nagród głównej i / lub dodatkowej.</p>
            </div>
        </div>

        <div class="clear"></div>

        <div class="row margin">
            <p>NA ZGŁOSZENIA CZEKAMY DO <strong>31.12.2014 r.</strong></p>
        </div>

        <div class="row">
            <a href="/wygraj-wyjazd/" class="play"></a>
        </div>

        <div class="row">
            <a href="#vote_anchor" class="tobottom"></a>
        </div>

        <div class="clear"></div>
    </div>
</section>