<section class="vote" id="vote">
    <div class="wrap">
        <div id="vote_anchor"></div>
        <h2>ZAGŁOSUJ</h2>

        <div class="row">
            <p class="p1">Zagłosuj na najlepszą karnawałową stylizację i zaangażuj swoich znajomych.</p>

            <p class="p2">Na 20 autorów najpopularniejszych stylizacji czekają ekspresy ciśnieniowe Buckingham marki Russell <br />Hobbs wraz z zapasem brazylijskiej kawy na cały karnawał!</p>

            <p class="p3">Nie trać czasu! Głosowanie trwa tylko do <span class="color">4 stycznia 2014 r.</span></p>

        </div>

        <div class="row">
            <a href="#rating" class="tobottom"></a>
        </div>

        <div class="clear"></div>
    </div>
</section>