{% extends 'panel.html.twig' %}

{% block title %}Remington - Wygraj Rio - Panel{% endblock %}

{% block body %}
    <section id="dashboard">
        <div class="wrap">
            <h2>DASHBOARD</h2>
        </div>
    </section>
{% endblock %}
