<div class="clear"></div>

<footer>
    <div class="wrap">
        <p>© 2014  REMINGTON Polska</p>
        <p>ul. Bitwy Warszawskiej 1920 r. 7A | Warszawa 02-366</p>
    </div>
</footer>

<div class="clear"></div>
</body>
</html>