@font-face {
  font-family: 'museo300';
  src: url('../font/museo/museo300-regular-webfont.eot');
  src: url('../font/museo/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/museo/museo300-regular-webfont.woff2') format('woff2'),
  url('../font/museo/museo300-regular-webfont.woff') format('woff'),
  url('../font/museo/museo300-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'museo700';
  src: url('../font/museo/museo700-regular-webfont.eot');
  src: url('../font/museo/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/museo/museo700-regular-webfont.woff2') format('woff2'),
  url('../font/museo/museo700-regular-webfont.woff') format('woff'),
  url('../font/museo/museo700-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'capture_it';
  src: url('../font/capture/capture_it-webfont.eot');
  src: url('../font/capture/capture_it-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/capture/capture_it-webfont.woff2') format('woff2'),
  url('../font/capture/capture_it-webfont.woff') format('woff'),
  url('../font/capture/capture_it-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}