<nav>
    <div class="wrap">
        <a href="/" class="logo"></a>
        <ul class="social">
            <li><a href="https://www.facebook.com/RemingtonPolska?ref=hnav" target="blank"></a></li>
            <li><a href="http://instagram.com/RemingtonStyle" target="blank"></a></li>
            <li><a href="http://www.pinterest.com/RemingtonPolska/" target="blank"></a></li>
            <li><a href="http://www.youtube.com/user/remingtonpolska" target="blank"></a></li>
        </ul>
        <ul class="menu">
            <li><a href="/#awards">Nagrody</a></li>
            <li><a href="/#take">Weź udział</a></li>
            <li><a href="/#vote">Zagłosuj</a></li>
            <li><a href="/#rating">Ranking</a></li>
            <li><a href="/#products">Nasze produkty</a></li>
            <li><a href="/#about">O konkursie</a></li>
            <li><a href="/#contact">Kontakt</a></li>
        </ul>
    </div>
</nav>