<section class="partners" id="partners">
    <div class="wrap">
        <div class="row">
            <p>Partnerzy: </p>
            <a href="http://www.agdwarszawa.pl/" class="p00" target="blank" title="AGD Warszawa"></a>
            <a href="http://www.agito.pl/" class="p01" target="blank" title="AGITO"></a>
            <a href="http://bankujesz-zyskujesz.pl/" class="p02" target="blank" title="BANKUJESZ ZYSKUJESZ"></a>
            <a href="http://empik.com" class="p13" target="blank" title="EMPIK"></a>
            <a href="http://mediadomek.pl/" class="p03" target="blank" title="MEDIADOMEK"></a>
            <a href="http://www.mediaexpert.pl/" class="p04" target="blank" title="MEDIAEXPERT"></a>
            <a href="http://mediamarkt.pl" class="p05" target="blank" title="MEDIAMARKT"></a>
            <a href="http://merlin.pl/browse/promotion/208/RIO.html" class="p06" target="blank" title="MERLIN"></a>
            <a href="http://www.morele.net/" class="p07" target="blank" title="MORELE"></a>
            <a href="http://www.neonet.pl/" class="p08" target="blank" title="NEONET"></a>
            <a href="http://www2.payback.pl/" class="p09" target="blank" title="PAYBACK"></a>
            <a href="http://www.euro.com.pl/" class="p10" target="blank" title="EURO RTV AGD"></a>
            <a href="http://saturn.pl" class="p11" target="blank" title="SATURN"></a>
            <a href="http://selgros24.pl/Welcome.do" class="p12" target="blank" title="SELGROS"></a>
            <a href="http://smyk.com" class="p14" target="blank" title="SMYK"></a>
            <a href="http://www.oleole.pl/" class="p15" target="blank" title="OLEOLE"></a>
        </div>
        <div class="clear"></div>
    </div>
</section>