{% extends 'base.html.twig' %}

{% block title %}Remington - Wygraj Rio - Podziekowania{% endblock %}

{% block body %}
    <section class="contact" id="contactPage">
        <div class="wrap">
            <h2>KONTAKT</h2>

            <div class="row">
                <br /><br /><br /><br /><br />
                <p><strong>Dziękujemy za przesłanie zapytania. Możliwie szybko się nim zajmiemy i odpowiemy.</strong></p>
                <p><strong>W kontakcie!</strong></p>
                <br /><br /><br />
                <div class="button"><a href="{{ path('app_default') }}#contact"></a></div>
                <br /><br /><br />
            </div>

            <div class="clear"></div>
        </div>
    </section>
{% endblock %}
