{% extends 'base.html.twig' %}

{% block title %}Remington - Wygraj Rio - Podziekowania{% endblock %}

{% block body %}
    <section class="response" id="response">
        <div class="wrap">
            <h2>DZIĘKUJEMY CI ZA POTWIERDZENIE ZGŁOSZENIA</h2>
            <div class="row">
                <p>Twoja karnawałowa stylizacja została właśnie opublikowana. Twoje zgłoszenie znajduje się <a href="/#vote"><strong>tu</strong></a>. <br />Życzymy Ci powodzenia i mamy nadzieję, że oczarujesz Jury i zdobędziesz bilety do Rio! <br /><span class="color"><strong>2 stycznia 2015 r.</strong></span>  Organizator skontaktuje się ze zwycięzcą <br />oraz 4 laureatami w celu weryfikacji zgłoszeń.</p>
                <p>Wyniki pojawią się na tej stronie <span class="color"><strong>9 stycznia 2015 r.</strong></span></p>
                <p>Ale do tego czasu nie marnuj swoich szans na nagrodę dodatkową - namów znajomych do głosowania <br />na swoją stylizację i walcz o ciśnieniowy ekspres do kawy marki Russell Hobbs.</p>
                <p class="color"><strong>Głosowanie trwa do 4 stycznia 2015 r. </strong></p>

            </div>

            <div class="clear"></div>

            <div class="row">
                <h3>UWAGA</h3>

                <ul class="border">
                    <li>
                        <p>Biorąc udział w Konkursie jako Uczestnik oświadczasz, że zarówno Ty  jak i Twoja osoba towarzysząca jesteście pełnoletni i dyspozycyjni w terminie wyjazdu do Rio de Janeiro oraz, że posiadacie paszporty ważne co najmniej 180 dni od daty wylotu do Brazylii.</p>
                    </li>
                    <li>
                        <p>Pamiętaj, że w trakcie Konkursu, Organizator ma prawo zweryfikować Twoje zgłoszenie prosząc Cię o przesłanie drogą mailową skanów lub zdjęć dowodu zakupu produktu i kodu kreskowego z opakowania. </p>
                    </li>
                    <li>
                        <p>2 stycznia 2015 r. Organizator poinformuje drogą mailową o wyniku obrad Jury zwycięzcę oraz 4 finalistów. Każdy z w/w Uczestników zostanie poproszony o przekazanie w określonym terminie kopii dowodu zakupu, oryginalnego kodu kreskowego wyciętego z opakowania zakupionego produktu oraz numerów paszportów (własnego i osoby towarzyszącej). Spełnienie wymienionych wymogów jest warunkiem koniecznym  do otrzymania nagrody głównej.</p>
                    </li>
                </ul>
            </div>

            <div class="clear"></div>
        </div>
    </section>
{% endblock %}
